@page "/book"
@using read2book.Services
@using read2book.Data
@inject IBookService BookService

@if(BookList==null)
{
    <em>Loading</em>
}
else
{
    @foreach (var book in BookList)
    {
        <p >@book.Name</p>    
    }
}

@code{

    private  List<read2book.Data.Book> BookList;

    protected override void OnInitialized()
    {
        BookList= BookService.GetAllBooks();
    }

}